.body{
	-fx-background-color: #2980B9;
}

.text {
	-fx-font-size: 14px;
	-fx-text-fill: #FFFFFF;
	-fx-background-color:#06aad9;
}

.andrologytextsize .text{
	-fx-font-size: 16px;
	-fx-text-fill: #FFFFFF;
}
.buttonLabel
{
   -fx-background-color:#06aad9;

}
.grid .text{

	-fx-background-color:#929292;
	-fx-font-size: 18px;

}
#remarks {
	-fx-font-size: 18px;
	
}